<div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form">
      <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email" required/>
      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="password" required/>
      <button (click)="login()">login</button>
      <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
    </form>
  </div>
</div>