<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#/"><img src="assets/angular.png" class="logo" /></a>
  </div>
  <ul class="nav navbar-nav nav-pills">
    <li routerLinkActive="active">
      <a routerLink="/home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/bookTrain">Book a Train</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="/home">Login</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/home">Signup</a>
        </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
