<div class="signup-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
      <input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="phone number" [(ngModel)]="phone_number" [ngModelOptions]="{standalone: true}"/>
      <input type="text" placeholder="NIC number" [(ngModel)]="nic" [ngModelOptions]="{standalone: true}"/>
      <button (click)="signup()">Create Account </button>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>