<div class="main-div">
  <div class="side-div">
    
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 rtl class="main-heading">Trains</h1>
        </div>
      </div>
      <div class="row-align-items-end">
        <div *ngFor="let train of trains" class="col-md-6 col-lg-4" >
          <mat-card class="row-align-items-end">
            <mat-card-title>
              {{ train.route }}
            </mat-card-title>
            <mat-card-subtitle rtl>
              <img src={{train.imgUrl}}>
              
            </mat-card-subtitle>
            <mat-card-actions>
              <button pButton type="button" (click)="openPage(train)" label="Book Now" class="ui-button-raised ui-button-success"></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
</div>